<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="logxstar_integration_save_place_after_observer" instance="Logxstar\Integration\Observer\SalesOrderPlaceAfterObserver" />
    </event>
    <event name="sales_quote_address_save_before">
        <observer name="logxstar_integration_save_place_after_observer" instance="Logxstar\Integration\Observer\AddressSaveBeforeObserver" />
    </event>
</config>
